---
# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: SomfyProtect2MQTT-dev
version: 2026.2.0b
slug: somfy-protect-2-mqtt-dev
description: "Publish Somfy Home Alarm as MQTT messages (dev branch)"
url: https://github.com/Minims/homeassistant-addons/tree/main/SomfyProtect2MQTT-dev
services:
  - mqtt:need
homeassistant_api: true
hassio_api: true
host_network: true
video: true
audio: true
arch:
  - aarch64
  - amd64
init: false
ports:
  8090/tcp: 8090
  19302/udp: 19302
ports_description:
  8090/tcp: WebRTC Stream Port
  19302/udp: WebRTC STUN
map:
  - path: "/addon_config"
    type: "addon_config"
    read_only: false
  - path: "/config"
    type: "homeassistant_config"
    read_only: false
  - path: "/media"
    type: media
    read_only: false
options:
  somfy_protect:
    username: mail@example.org
    password: iliketurtles
    sites:
      - Maison
  homeassistant_config:
    code: "0"
    code_arm_required: false
    code_disarm_required: false
  mqtt:
    client-id: somfy-protect
    topic_prefix: somfyProtect2mqtt-dev
    ha_discover_prefix: homeassistant
  delay_site: "10"
  delay_device: "60"
  manual_snapshot: false
  streaming: mqtt
  debug: false
schema:
  somfy_protect:
    username: str
    password: password
    sites:
      - str
  homeassistant_config:
    code: int?
    code_arm_required: bool
    code_disarm_required: bool
  mqtt:
    host: str?
    port: int?
    ssl: bool?
    username: str?
    password: password?
    client-id: str?
    topic_prefix: str?
    ha_discover_prefix: str?
  delay_site: int?
  delay_device: int?
  manual_snapshot: bool
  streaming: str?
  debug: bool
